
.productos {
	color: black;
	background-color: aqua;
	width: 20;
	border: 3px solid #00fff2;
}

.productos:hover {
	cursor: pointer;
	color: white;
	background-color: #13745c;
}


.f9ou {
	font-family: sans-serif;
	text-align: center;
}

.btm892117901971173487:hover {
	cursor: pointer;
	color: black;
	background-color: white;
}

.btm892117901971173487 {
	cursor: pointer;
	color: white;
	background-color: black
}